5_soap/META-INF/RandomService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://soap.if4030" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://soap.if4030">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soap.if4030">
            <xs:element name="setBounds">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="args0" type="xs:int"/>
                        <xs:element name="args1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="nextRandom">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="nextRandomResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="nextRandomRequest">
        <wsdl:part name="parameters" element="ns:nextRandom"/>
    </wsdl:message>
    <wsdl:message name="nextRandomResponse">
        <wsdl:part name="parameters" element="ns:nextRandomResponse"/>
    </wsdl:message>
    <wsdl:message name="setBoundsRequest">
        <wsdl:part name="parameters" element="ns:setBounds"/>
    </wsdl:message>
    <wsdl:portType name="RandomServicePortType">
        <wsdl:operation name="nextRandom">
            <wsdl:input message="ns:nextRandomRequest" wsaw:Action="urn:nextRandom"/>
            <wsdl:output message="ns:nextRandomResponse" wsaw:Action="urn:nextRandomResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setBounds">
            <wsdl:input message="ns:setBoundsRequest" wsaw:Action="urn:setBounds"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RandomServiceSoap11Binding" type="ns:RandomServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="nextRandom">
            <soap:operation soapAction="urn:nextRandom" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setBounds">
            <soap:operation soapAction="urn:setBounds" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RandomServiceSoap12Binding" type="ns:RandomServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="nextRandom">
            <soap12:operation soapAction="urn:nextRandom" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setBounds">
            <soap12:operation soapAction="urn:setBounds" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RandomServiceHttpBinding" type="ns:RandomServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="nextRandom">
            <http:operation location="nextRandom"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setBounds">
            <http:operation location="setBounds"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RandomService">
        <wsdl:port name="RandomServiceHttpSoap11Endpoint" binding="ns:RandomServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/RandomService"/>
        </wsdl:port>
        <wsdl:port name="RandomServiceHttpSoap12Endpoint" binding="ns:RandomServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/RandomService"/>
        </wsdl:port>
        <wsdl:port name="RandomServiceHttpEndpoint" binding="ns:RandomServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/RandomService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
